:root{
  --btnav-color:#13183F;
  --header-color:#13183F;
  --btnheader-color:linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  --getstarted-color:linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  --getst-color:#F74780;
  --paragraph-color: #83869A;
  --bg-color: #F8F8FF;
}

*,
::before
::after{
  box-sizing: border-box;
}


body{
  margin: 0;
  overflow-x: hidden;
  background:var(--bg-color);
 
}



.the-logo{
  max-height: 28px;
}
.wrapper{
  max-width: 1120px;
  margin: 0 auto;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

 nav ul{
  list-style: none;
  background-color:var(--btnav-color);
  color: white;
  padding: 16px 32px;
  border-radius: 28px;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Plus Jakarta Sans';

 }

.hero-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.left-side{
  max-width: 457px;
  max-height: 339px;
  margin-top: 175px;
  margin-right: 120px;
}

h1{
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 800;
font-size: 56px;
line-height: 120%;
color: #13183F;
margin-bottom: 24px;
}

p{
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 150%;
color:var(--paragraph-color);
margin-top: 0;
height: 113px;
}

button{
  background: var(--getstarted-color);
  border: none;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 16px 32px 16px 32px;
  border-radius: 30px;
  margin-top: 40px;
}

.girl-pic{
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.right-side{
  position: absolute;
  left: calc(46%);
  top: -200px;
}

.courses{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  row-gap: 56px;
  column-gap: 32px;
}

.course-block{
  background-color:white;
  padding: 64px 32px 0px 32px;
  position: relative;
  max-height: 320px;
  border-radius: 15px;
  
}

.course-block1{
  background:linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  padding: 64px 32px 0px 32px;
  position: relative;
  max-height: 320px;
  border-radius: 15px;
}

.the-icon{
  position: absolute;
  top: -30px;
}

.check-out{
font-family: "Plus Jakarta Sans";
font-style: normal;
font-weight: 800;
font-size: 32px;
}

h4{
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 800;
font-size: 24px;
}

.get-started{
  margin-top: 24px;
  color: var(--getst-color);
}



.footer-sec{
  margin-top: 144px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer ul{
  list-style: none;
  background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
  color: white;
  padding: 16px 32px;
  border-radius: 28px;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Plus Jakarta Sans';
}

footer{
  background-color: var(--btnav-color);
}

.courses{
  padding-top: 250px;
}

@media(max-width:1024px){
  .wrapper{
    max-width: 768px;
  }
}
